.footer {
    background: #F8F8F8;
    padding-bottom: 40px;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copyright > h5 {
    text-align: right;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    color: #848484;
}

.footer__social-media {
    display: flex;
    justify-content: center;
}

.footer__social-media > img {
    margin-right: 35px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer__copyright > h5 {
        font-size: 1em;
    }

    .footer__copyright > img {
        width: 4vw;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright > h5 {
        font-size: 0.95em;
    }

    .footer__copyright > img {
        width: 4.5vw;
    }

    .footer__social-media img {
        width: 3.5vw;
        height: 3.5vh;
        margin-right: 4.8vw;
    }
}

@media screen and (max-width: 576px) {
    .footer__copyright > h5 {
        font-size: 0.85em;
        margin-bottom: 2vh;
    }

    .footer__copyright > img {
        width: 5vw;
    }
}