body {
    font-family: "Inter", sans-serif;
    color: #505f98;
}

a {
    text-decoration: none;
    color: #B8BECD;
}

li {
    display: block;
}

select {
    display: block;
    font-family:inherit;
    padding: 0.5em 2em;
    appearance: none;
    background-image: url(/img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 1.8rem center;
    background-size: 0.6em;
}

td {
    padding-right: 30px;
    padding-bottom: 35px;
}

.container {
    max-width: 1219px;
    margin: 0 auto;
}

.centered {
    text-align: center;
    padding: 2% 10%;
    min-width: 80%;
}