body {
    font-family: "Inter", sans-serif;
    color: #505f98;
}

a {
    text-decoration: none;
    color: #B8BECD;
}

li {
    display: block;
}

select {
    display: block;
    font-family: inherit;
    padding-right: 0.5em 2em;
    appearance: none;
    background-image: url(/img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 1.8rem center;
    background-size: 0.6em;
}

.container {
    max-width: 1219px;
    margin: 0 auto;
}

.centered {
    text-align: center;
    padding: 2% 10%;
    min-width: 80%;
}

@media screen and (max-width: 2560px) {
    .centered {
        padding: 4vh 18vw;
    }
}

@media screen and (max-width: 1440px) {
    .centered {
        padding: 2.65% 7.65%;
    }
}

@media screen and (max-width: 1024px) {
    .centered {
        padding: 2.5% 7.5%;
    }
}

@media screen and (max-width: 768px) {
    .centered {
        padding: 2% 7%;
    }
}