.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__menu {
    display: none;
    width: 41px;
    cursor: pointer;
}

.header__menu>img {
    max-width: 100%;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav-link {
    font-weight: 400;
    margin-right: 34px;
}

.header__nav-link-home {
    font-weight: 500;
    margin-right: 35px;
}

.header__nav-login {
    font-size: 15px;
    border: 1px solid #fb8f1d;
    border-radius: 8px;
    padding: 8px 46px;
    background-color: #fff;
    color: #fb8f1d;
    margin-right: 18px;
}

.header__nav-register {
    font-size: 15px;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 8px 36px;
    color: #fff;
}

.home {
    color: #202336;
}

.logo-img {
    float: left;
    width: 41px;
    height: 41px;
}

@media screen and (max-width: 2560px) and (min-width: 1440px) {
    .header {
        padding-bottom: 0;
    }

    .header__logo > img {
        width: 3vw;
        height: 3.5vh;
    }

    .header__list {
        padding-left: 5vw;;
    }

    .header__list a {
        font-size: 1.5em;
    }

    .header__list ul {
        padding-left: 6vw;
    }

    .header__nav-login {
        font-size: 1.5em;
        width: 9vw;
        padding: 1vh 3vw;
        margin-right: 1.5vw;
    }

    .header__nav-register {
        font-size: 1.5em;
        padding: 1vh 3vw;
        width: 10vw;
    }

    .header__nav-login:hover, .header__nav-login:focus {
        animation: pulse 1s 2 ease-in-out alternate;
    }

    .header__nav-register:hover, .header__nav-register:focus {
        animation: pulse 1s 2 ease-in-out alternate;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .header {
        padding-bottom: 0;
    }

    .header__logo > img {
        width: 5vw;
        height: 4.5vh;
    }

    .header__list {
        padding-left: 1vw;;
    }

    .header__list a {
        font-size: 1.2em;
    }

    .header__list ul {
        padding-left: 4vw;
    }

    .header__nav-login {
        font-size: 1.2em;
        width: 14.5vw;
        padding: 1vh 5vw;
        margin-right: 1.78vw;
    }

    .header__nav-register {
        font-size: 1.2em;
        padding: 1vh 4vw;
        width: 14vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header {
        padding-bottom: 0;
    }

    .header__logo > img {
        width: 5vw;
        height: 5.5vh;
    }

    .header__list {
        padding-left: 1vw;;
    }

    .header__list ul {
        padding-left: 4vw;
    }

    .header__nav-login {
        font-size: 0.9em;
        width: 13.5vw;
        padding: 1vh 5vw;
        margin-right: 1.78vw;
    }

    .header__nav-register {
        font-size: 0.9em;
        padding: 1vh 4vw;
        width: 14vw;
    }
}

@media screen and (max-width: 768px){
    .header {
        position: fixed;
        left: 0;
        right: 0;
        background-color: rgb(255, 250, 250);
        z-index: 10;
    }

    .header__list {
        padding-left: 11.2vw;
    }

    .header__menu {
        display: block;
    }

    .header__logo {
        display: none;
    }

    .header__nav-login {
        margin-right: 3vw;
        padding: 1.25vh 8vw;
    }

    .header__nav-register {
        padding: 1.25vh 8vw;
    }

    .header__nav-menu {
        background: #F8F8F8;
        position: fixed;
        top: 76px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav-menu.open {
        clip-path: circle(900px at top);
    }

    .header__nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
        height: 55%;
    }

    .header__nav-menu li {
        margin-left: 8vw;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav-menu a {
        font-weight: 500;
        display: block;
        font-size: 2.2em;
    }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
    .header__nav-login {
        font-size: 0.87em;
    }

    .header__nav-register {
        font-size: 0.87em;
    }

    .header__nav-menu a {
        font-weight: 450;
        font-size: 1.8em;
    }
}