.header {
    display: flex;
    justify-content: space-between;
}

.header__nav ul {
    display: flex;
}

.header__nav-link {
    font-weight: 400;
    padding-top: 10px;
    margin-right: 34px;
}

.header__nav-link-home {
    font-weight: 500;
    padding-top: 10px;
    margin-right: 35px;
}

.header__nav-login {
    font-size: 15px;
    border: 1px solid #fb8f1d;
    border-radius: 8px;
    padding: 8px 46px;
    background-color: #fff;
    color: #fb8f1d;
    margin-right: 18px;
}

.header__nav-register {
    font-size: 15px;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 8px 36px;
    color: #fff;
}

.home {
    color: #202336;
}

.logo-img {
    float: left;
    width: 41px;
    height: 41px;
    margin-top: 15px;
}